<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hostel</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/6b579d091e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body >
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <section id="title" style="background-image:url('/images/h31.jpg'); ">
    <div class="container-fluid">

      <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href="#">Hostel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">



          <ul class="navbar-nav ms-auto">
            <!-- <li class="nav-item">
              <a class="nav-link" href="#footer">Cotact</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="#pricing">pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/book1">Reserve</a>
            </li>
          </ul>
        </div>

      </nav>
      <!-- Nav Bar -->




      <!-- Title -->
      <div class="row" >

        <div class="col-lg-6">
          <h1>Reserve A Room nearby.</h1>
          <button type="button" class="btn btn-dark btn-lg download-btn"> 
            <a href="/admin/book1" >


              <i class="fa-solid fa-house" style="color:white;">   reserve </i></button>
            </a>
            
            
            

          <!-- <button type="button" class="btn btn-outline-light btn-lg download-btn"> <i class="fa-brands fa-google-play"> Download </i></button> -->
        </div>
        <!-- <div class="col-lg-6 img-title">
          <img class="title-img"src="images/h1.jpg" alt="iphone-mockup">
        </div> -->
      </div>
    </div>


  </section>


  <!-- Features -->

  <section id="features">
    <div class="row">

      <div class="col-lg-4 feature-box">
<i class="icon fa-solid fa-bed fa-4x"></i>

          <h3>AC Rooms.</h3>
          <p>The Standard AC Room is a fine accommodation consisting of special amenities and services. Book your room now.</p>


      </div>
      <div class="col-lg-4 feature-box ">
        <i class="icon fa-solid fa-shield-halved fa-4x"></i>
<!-- <i class=" icon fa-solid fa-shield fa-4x"></i> -->
<!-- <i class="icon fa-solid fa-bullseye fa-4x"></i> -->

          <h3>24x7 Security</h3>
          <p>Check all security measures and deputy assistant wardens to the respective blocks for duty.</p>

      </div>
      <div class="col-lg-4 feature-box ">
<i class="icon fa-solid fa-book-open fa-4x"></i>
    <!-- <i class="icon fa-solid fa-heart fa-4x"></i> -->
          <h3>Guaranteed Study Rooms</h3>
          <p>A typical study might contain a desk, chair, computer, desk lamps, bookshelves, books, and file cabinets</p>



      </div>

    </div>






  </section>


  <!-- Testimonials -->

  <section id="testimonials">



    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">

          <h2>A double room is a room intended for two people, usually a couple, to stay in.</h2>
          <img class="testimonial-image" src="/images/d3.jpg" alt="lady-profile">
          <em>Normal</em>
    </div>
    <div class="carousel-item">
      <h2 class="testimonial-text">Deluxe rooms, are modern decorated, totally soundproofed and equipped with high tech comforts such as high speed internet .</h2>
      <img class="testimonial-image" src="/images/d5.jpg" alt="lady-profile">
      <em>Deluxe</em>

    </div>
    <div class="carousel-item">
      <h2 class="testimonial-text"> Hostels have different private rooms. we have also seen private rooms in hostels that could easily beat 5 Star Hotels.</h2>
      <img class="testimonial-image" src="/images/d4.jpg" alt="lady-profile">
      <em>Exclusive</em>

    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



  </section>


  <!-- Press -->

  <!-- <section id="press">
    <img class="log"src="images/TechCrunch.png" alt="tc-logo">
    <img class="log"src="images/tnw.png" alt="tnw-logo">
    <img class="log"src="images/bizinsider.png" alt="biz-insider-logo">
    <img class="log"src="images/mashable.png" alt="mashable-logo">

  </section> -->


  <!-- Pricing -->

  <section id="pricing">
    <h2>A Plan for Room Needs</h2>
    <p>Simple and affordable price plans for our guest.</p>
    <div class="row">
      <div class="price-col col-lg-4 col-md-6">
            <div class="card">

        <div class="card-header">
          <h3>Normal</h3>

        </div>
        <div class="card-body">
          <h2>Rs 5000/Month</h2>
          <p>1 visitor Per Week</p>
          <p>Shared Rooms Upto 4</p>
          <p>limited Access to Internet Upto20 Mb/s</p>
          <a href="/admin/book1/">


              <button class="btn btn-lg btn-block btn-outline-dark"type="button">Reserve</button>

          </a>
        </div>
      </div>
    </div>
      <div class="price-col  col-lg-4 col-md-6">

        <div class="card">
          <div class="card-header">
            <h3>Deluxe</h3>
          </div>
          <div class="card-body">

            <h2>Rs 8000 /Month</h2>
            <p>2 visitor per Week</p>
            <p>Shared rooms upto 2</p>
            <p>limited Access to Internet Upto 40 Mb/s</p>

            <a href="/admin/book1">


                <button class="btn btn-lg btn-block btn-dark"type="button">Reserve Now</button>
            </a>

          </div>

        </div>
      </div>
<div class="price-col col-lg-4">


  <div class="card">
    <div class="card-header">
      <h3>Luxury</h3>

    </div>
    <div class="card-body">

      <h2>Rs 10000 / month</h2>
      <p>4 visitor per Week</p>
      <p> No Shared rooms</p>
      <p>Unlimited Internet Acess</p>

     <a href="/admin/book1">
        <button  class="btn btn-lg btn-block btn-dark"type="button">  Reserve Now</button>



     </a> 


    </div>
</div>
    </div>
  </div>













  </section>


  <!-- Call to Action -->

  <!-- <section id="cta">

    <h3 class="cta1">Find the True Love of Your Dog's Life Today.</h3>
    <button type="button" class="btn btn-dark btn-lg download-btn"> <i class="fa-brands fa-apple"> Download </i></button>
    <button type="button" class="btn btn-outline-light btn-lg download-btn"> <i class="fa-brands fa-google-play"> Download </i></button>

  </section> -->


  <!-- Footer -->

  <!-- <footer id="footer">
    <i class="soical fa-brands fa-facebook"></i>
    <i class="soical fa-brands fa-twitter"></i>
    <i class="soical fa-brands fa-instagram"></i>
    <i class="soical fa-solid fa-envelope"></i>

    <p>© Copyright TinDog</p>

  </footer> -->


</body>

</html>
