<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | General Form Elements</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/stylesheets/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/stylesheets/adminlte.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>
<body style=" background: url('/images/2.jpg') no-repeat center center fixed;">

  <!-- Navbar -->

  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
 

  <!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->
 
    <!-- Main content -->
    <section class="content-header" style="height: 200px;">
    </section>
      <div class="row d-flex justify-content-center">
      
          <!-- left column -->
          <div class="col-md-4">
           



              <% if(typeof alert !='undefined') {%>
                <% alert.forEach(function(error) {%>
              
                          <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <%= error.msg %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <% }) %>
                          <% } %>
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Forget Password</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              
              <form method="post" action="/admin/emp/confirm">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputID">password</label>
                        <input type="password" class="form-control" id="name" name="pass1" >
                    </div>
                    
                    <div class="form-group">
                      <label for="exampleInputName">confirm password</label>
                      <input type="password" class="form-control" id="pass" name="pass2" >
                  </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary"   name="submit">Submit</button>
                      
                  </div>



                    
                </div>
        
        </form>
            </div>
            <!-- /.card -->

            <!-- general form elements -->
            
                  
                </form>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    
    <!-- /.content -->

  <!-- /.content-wrapper -->


  <!-- Control Sidebar -->



  
</body>
</html>
