<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hostel</title>
    <script src="https://kit.fontawesome.com/7d6009c96a.js" crossorigin="anonymous"></script>
    <style>
        body{
            /* background-color: skyblue; */
            background: url('./images/2.jpg') no-repeat center center fixed;
            
         
            /* width: auto;
            height: 100px; */

        }
     
        .wrap{
            width: 1000px;
            margin: auto;
            margin-top: 300px;
            display:flex;

        }
        .card{
            box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.6);
            transition: 0.4s;
            width: 300px;
        
            background:#FFFBE9;
            text-align:  center;
            font-size: 16px;
            font-family: sans-serif;
           
            float: left;
            margin: 10px;

        }
        .card:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0, 0.6);

        }
        .container{
            padding: 2px 16px;
        }
        i{
            margin-top: 20px;
            color: black;
        }
        a{
            color: black;
        }

     
    
    </style>
</head>
<body>
    <div class="wrap">
        <div class="card">
            <a href="/admin/stu">




                <i class="fa-solid fa-graduation-cap fa-8x"  style="width: 100%;" ></i>
                <!-- <img src="" alt="image" style="width: 100%;"> -->
                <div class="conatainer">
                    <h4><b>Student</b></h4>
                    <p></p>
                   
                </div>

            </a>
        </div>
        <div class="card">
            <a href="/admin/emp">



                <i class="fa-solid fa-briefcase fa-8x" style="width: 100%;"></i>
                <!-- <img src="" alt="image" style="width: 100%;"> -->
                <div class="conatainer">
                    <h4><b>Employee</b></h4>
                    <p></p>
                  
                </div>

            </a>
        </div>
        <div class="card">
            <a href="/admin">



                <i class="fa-solid fa-shield fa-8x" style="width: 100%;"></i>
                <!-- <img src="" alt="image" style="width: 100%;"> -->
                <div class="conatainer">
    
                    <h4><b>Admin</b></h4>
                    <p></p>
                  
                </div>

            </a>
        </div>
       
        <div class="card">
            <a href="/admin/book">
    
    
    
                <i class="fa-solid fa-arrow-right fa-8x" style="width: 100%;"></i>
                <!-- <img src="" alt="image" style="width: 100%;"> -->
                <div class="conatainer">
    
                    <h4><b>check Out</b></h4>
                    <p></p>
                  
                </div>
    
            </a>
        </div>  
  

    </div>


</body>
</html>